* {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 700;
  color: #ffffff;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */ }

::-webkit-scrollbar {
  display: none; }

a {
  background-color: #28B3FF;
  font-size: 14pt;
  border: none;
  padding: 20px;
  border-radius: 100px; }

h1 {
  font-size: 25pt;
  white-space: nowrap; }
  @media only screen and (min-width: 800px) {
    h1 {
      white-space: normal; } }

h2 {
  font-size: 20pt;
  white-space: nowrap; }
  @media only screen and (min-width: 800px) {
    h2 {
      white-space: normal; } }

h3 {
  font-size: 18pt;
  white-space: nowrap; }
  @media only screen and (min-width: 800px) {
    h3 {
      white-space: normal; } }

p {
  font-size: 14pt; }

span.largeNumber {
  font-size: 30pt; }

canvas {
  width: 100%;
  height: 100%; }

.percentage {
  padding: 30px 15px;
  background-color: #ffffff;
  font-size: 25pt;
  color: #0D0B0F;
  position: absolute;
  width: fit-content;
  border-radius: 200px;
  font-weight: 800; }

.percentageOxygen {
  right: 0px;
  transform: translate(-40px, 0px); }

.percentageNytrogen {
  left: 20px;
  transform: translate(0px, 70px); }

.percentageFood, .percentageWater, .percentageFuel {
  transform: translate(70px, 82px); }
  @media only screen and (min-width: 660px) {
    .percentageFood, .percentageWater, .percentageFuel {
      transform: translate(75px, 49px); } }
  @media only screen and (min-width: 800px) {
    .percentageFood, .percentageWater, .percentageFuel {
      transform: translate(95px, 80px); } }
  @media only screen and (min-width: 1000px) and (max-width: 1500px) {
    .percentageFood, .percentageWater, .percentageFuel {
      transform: translate(35px, 10px); } }

.percentageType {
  font-size: 14pt;
  color: #0D0B0F; }

body {
  background: #0D0B0F; }
  body main.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 100vh;
    max-width: 1500px;
    margin: 0 auto;
    overflow: hidden; }
    @media only screen and (min-width: 1500px) {
      body main.container {
        height: 100%;
        overflow: visible; } }
    body main.container header {
      display: flex;
      flex-direction: column;
      width: 50%; }
      body main.container header h2 {
        color: #5E5C66;
        margin-top: 10px; }
    body main.container section#dashboard {
      background: linear-gradient(28deg, #2d2c31 0%, #2e2d34 100%);
      border-radius: 50px;
      margin-top: 30px;
      overflow-x: scroll;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: stretch; }
      @media only screen and (min-width: 1500px) {
        body main.container section#dashboard {
          overflow: visible;
          height: auto; } }
      body main.container section#dashboard > section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 20px 0px 20px; }
        body main.container section#dashboard > section > section h1 {
          margin-bottom: 10px; }
      body main.container section#dashboard section#dashboard-grid {
        margin: 20px;
        padding: 0px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: "art1" "art2" "art3" "art4" "art5" "art6";
        column-gap: 20px;
        row-gap: 20px;
        align-items: stretch; }
        @media only screen and (min-width: 800px) and (max-width: 999px) {
          body main.container section#dashboard section#dashboard-grid {
            grid-template-columns: 48% 48%;
            grid-template-areas: "art1 art2" "art3 art3" "art4 art4" "art5 art6"; } }
        @media only screen and (min-width: 1000px) and (max-width: 1500px) {
          body main.container section#dashboard section#dashboard-grid {
            grid-template-columns: 48% 48%;
            grid-template-areas: "art1 art2" "art3 art4" "art5 art6"; } }
        @media only screen and (min-width: 1500px) {
          body main.container section#dashboard section#dashboard-grid {
            grid-template-columns: 30% auto 10% auto 30%;
            grid-template-areas: "art1 art2 art2 art3 art3" "art4 art4 art5 art5 art6"; } }
        body main.container section#dashboard section#dashboard-grid article {
          background-color: #0D0B0F;
          padding: 40px;
          border-radius: 50px;
          margin: 10px 0px;
          position: relative; }
          body main.container section#dashboard section#dashboard-grid article section {
            margin-top: 30px; }
          body main.container section#dashboard section#dashboard-grid article h3 {
            margin-bottom: 10px; }
        body main.container section#dashboard section#dashboard-grid article.time-and-distance {
          grid-area: art1; }
          body main.container section#dashboard section#dashboard-grid article.time-and-distance section section:nth-of-type(1) h3 {
            color: #E51736; }
          body main.container section#dashboard section#dashboard-grid article.time-and-distance section section:nth-child(2) h3 {
            color: #28B3FF; }
          body main.container section#dashboard section#dashboard-grid article.time-and-distance section section:nth-child(3) h3 {
            color: #00CC61; }
        body main.container section#dashboard section#dashboard-grid article.atmosphere-division {
          grid-area: art2; }
          @media only screen and (min-width: 1000px) and (max-width: 1500px) {
            body main.container section#dashboard section#dashboard-grid article.atmosphere-division {
              align-self: flex-start; } }
          body main.container section#dashboard section#dashboard-grid article.atmosphere-division > section > section h3:nth-of-type(1) {
            color: #E51736; }
          body main.container section#dashboard section#dashboard-grid article.atmosphere-division > section > section h3:nth-of-type(2) {
            color: #28B3FF; }
          > body main.container section#dashboard section#dashboard-grid article.atmosphere-division > section:nth-child(2) {
            position: relative; }
        body main.container section#dashboard section#dashboard-grid article.speed-over-time {
          grid-area: art3; }
        body main.container section#dashboard section#dashboard-grid article.gravity-over-time {
          grid-area: art4; }
          @media only screen and (min-width: 1500px) {
            body main.container section#dashboard section#dashboard-grid article.gravity-over-time {
              align-self: flex-start; } }
        body main.container section#dashboard section#dashboard-grid article.speed-gravity-over-time > section > section {
          position: relative; }
          body main.container section#dashboard section#dashboard-grid article.speed-gravity-over-time > section > section h3 {
            color: #28B3FF;
            align-self: center; }
          body main.container section#dashboard section#dashboard-grid article.speed-gravity-over-time > section > section:nth-child(2) {
            display: flex;
            flex-direction: column;
            align-items: flex-end; }
            body main.container section#dashboard section#dashboard-grid article.speed-gravity-over-time > section > section:nth-child(2) > h3 {
              color: #00CC61; }
          body main.container section#dashboard section#dashboard-grid article.speed-gravity-over-time > section > section .currentSpeed {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transform: translate(20px, 50px); }
            @media only screen and (min-width: 800px) and (max-width: 999px) {
              body main.container section#dashboard section#dashboard-grid article.speed-gravity-over-time > section > section .currentSpeed {
                transform: translate(20, 110px); } }
            @media only screen and (min-width: 1000px) {
              body main.container section#dashboard section#dashboard-grid article.speed-gravity-over-time > section > section .currentSpeed {
                transform: translate(40px, 95px); } }
            @media only screen and (min-width: 1000px) and (max-width: 1499px) {
              body main.container section#dashboard section#dashboard-grid article.speed-gravity-over-time > section > section .currentSpeed {
                transform: translate(0px, 45px); } }
            @media only screen and (min-width: 1500px) {
              body main.container section#dashboard section#dashboard-grid article.speed-gravity-over-time > section > section .currentSpeed {
                transform: translate(30px, 80px); } }
            body main.container section#dashboard section#dashboard-grid article.speed-gravity-over-time > section > section .currentSpeed > hr {
              border: 3px solid #E51736;
              width: 240px;
              transform: rotate(90deg); }
              @media only screen and (min-width: 800px) and (max-width: 999px) {
                body main.container section#dashboard section#dashboard-grid article.speed-gravity-over-time > section > section .currentSpeed > hr {
                  width: 330px; } }
              @media only screen and (min-width: 1000px) {
                body main.container section#dashboard section#dashboard-grid article.speed-gravity-over-time > section > section .currentSpeed > hr {
                  width: 420px; } }
              @media only screen and (min-width: 1000px) and (max-width: 1299px) {
                body main.container section#dashboard section#dashboard-grid article.speed-gravity-over-time > section > section .currentSpeed > hr {
                  width: 230px; } }
              @media only screen and (min-width: 1500px) {
                body main.container section#dashboard section#dashboard-grid article.speed-gravity-over-time > section > section .currentSpeed > hr {
                  width: 280px; } }
        body main.container section#dashboard section#dashboard-grid article.supplies-left {
          grid-area: art5; }
          body main.container section#dashboard section#dashboard-grid article.supplies-left > section {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 0px; }
            @media only screen and (min-width: 660px) and (max-width: 800px) {
              body main.container section#dashboard section#dashboard-grid article.supplies-left > section {
                flex-direction: row;
                width: 100%; } }
            @media only screen and (min-width: 1000px) {
              body main.container section#dashboard section#dashboard-grid article.supplies-left > section {
                flex-direction: row;
                width: 80%; } }
            @media only screen and (min-width: 1500px) {
              body main.container section#dashboard section#dashboard-grid article.supplies-left > section {
                flex-direction: column;
                width: 100%; } }
            body main.container section#dashboard section#dashboard-grid article.supplies-left > section > section {
              width: 100%;
              position: relative; }
              body main.container section#dashboard section#dashboard-grid article.supplies-left > section > section h3 {
                margin-bottom: 20px; }
              body main.container section#dashboard section#dashboard-grid article.supplies-left > section > section:nth-child(1) > h3 {
                color: #00CC61; }
              body main.container section#dashboard section#dashboard-grid article.supplies-left > section > section:nth-child(2) > h3 {
                color: #28B3FF; }
        body main.container section#dashboard section#dashboard-grid article.fuel-left {
          grid-area: art6; }
          @media only screen and (min-width: 1000px) {
            body main.container section#dashboard section#dashboard-grid article.fuel-left {
              align-self: flex-start; } }
          body main.container section#dashboard section#dashboard-grid article.fuel-left > section > section {
            width: 100%; }
            @media only screen and (min-width: 660px) and (max-width: 800px) {
              body main.container section#dashboard section#dashboard-grid article.fuel-left > section > section {
                width: 50%; } }
            @media only screen and (min-width: 1000px) {
              body main.container section#dashboard section#dashboard-grid article.fuel-left > section > section {
                width: 40%; } }
            @media only screen and (min-width: 1500px) {
              body main.container section#dashboard section#dashboard-grid article.fuel-left > section > section {
                width: 100%; } }
            body main.container section#dashboard section#dashboard-grid article.fuel-left > section > section h3 {
              color: #E51736;
              margin-bottom: 20px; }
    body main.container p.footer {
      width: 100%;
      text-align: center;
      color: #5E5C66;
      padding: 20px 0px; }
